/* styles.css */

body {
  background-color: #f8f9fa;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

header, footer {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1, h4, h6 {
  color: #343a40;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-body {
  text-align: center;
}

.card-title {
  color: #343a40;
}

img {
  width: 30px; /* Reduzco el tamaño de la imagen */
  height: 30px;
}

.canvas-container canvas {
  max-width: 100%;
  height: auto;
}
